<div class="burger-header">
    <img src="assets/img/burger.png" alt="burger" style="width: 150px; height: 150px;">
    <h1>Eat-Da-Burger!</h1>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-12 form-group">
            <form action="/burgers/create" method="POST">
                <input type="text" class="form-control col-md-8" name="burger_name" value="" id="enter_text"
                    placeholder="Enter a burger you want to eat and Click the 'Add Burger' button">
                <button type="submit" class="btn btn-danger">Add
                    Burger</button>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6 col-sm-12">
            <h2>Have a Delicious Burger!</h2>
            <div class="burger-list">
                {{#each burgers}}
                {{#unless devoured}}
                {{> burgers/burgers-block devoured=true}}
                {{/unless}}
                {{/each}}
            </div>
        </div>

        <div class="col-lg-6 col-sm-12">
            <h2>Make that Burger Again!</h2>
            <div class="burger-list">
                {{#each burgers}}
                {{#if devoured}}
                {{> burgers/burgers-block devoured=false}}
                {{/if}}
                {{/each}}
            </div>
        </div>
    </div>
</div>
</div>